*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


video{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}


img{
    width: 40%;
    height: 40%;
    position: absolute;
    z-index:100;
    left: 25%;
    top: 25%;
}
