#Instruction1, #Instruction2, #Instruction3, #Instruction4, #Instruction5, #PreTask, #Task, #End1{
    display: none;
    width: 110rem;
    position: relative;
    height: 60rem;
    background: #FFFFFF;
    text-align: center;

    top: 50%;
    left: 50%;
    margin-left: -55rem;
    margin-top: -30rem;
}

#PreTask{
    display: none;
    width: 110rem;
    position: relative;
    height: 60rem;
    background: #FFFFFF;
    text-align: center;

    top: 50%;
    left: 50%;
    margin-left: -55rem;
    margin-top: -30rem;
}

#PreTask-cameraPreview{
    width: 30rem;
    height: 5rem;
    position: absolute;
    bottom: 15rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: #5174A6;
    border: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}



#Instruction1-nextBtn, #Instruction2-nextBtn, #Instruction3-nextBtn, #Instruction4-nextBtn, #Instruction5-nextBtn, #PreTask-nextBtn, #Task-nextBtn, #End1-nextBtn{
    width: 30rem;
    height: 5rem;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: #5174A6;
    border: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

#Instruction4-nextBtn {
    bottom: 3rem;
}

#Instruction1 .progress{
    height: 1rem;
    width: 22rem;
    background: #5174A6;
}

#Instruction1 .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}

#Instruction1 .title h2:nth-child(1){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: #6F6F6F;

}

#Instruction1 .title h2:nth-child(2){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #6F6F6F;
}

#Instruction1 .content{
    width: 100%;
    /*background: red;*/
    height: 30rem;
    margin-top: 1rem;
}

#Instruction1 .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605F5F;
}

#Instruction1 .content img{
    width: 60rem;
    margin-top: 6rem;
}



#Instruction2 .progress{
    height: 1rem;
    width: 44rem;
    background: #5174A6;
}

#Instruction2 .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}

#Instruction2 .title h2:nth-child(1){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: #6F6F6F;

}

#Instruction2 .title h2:nth-child(2){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #6F6F6F;
}

#Instruction2 .content{
    width: 100%;
    /*background: red;*/
    height: 30rem;
    margin-top: 1rem;
}

#Instruction2 .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605F5F;
}

#Instruction2 .content img{
    width: 40rem;
    margin-top: 4rem;
}


#Instruction3 .progress{
    height: 1rem;
    width: 66rem;
    background: #5174A6;
}

#Instruction3 .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}

#Instruction3 .title h2:nth-child(1){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: #6F6F6F;

}

#Instruction3 .title h2:nth-child(2){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #6F6F6F;
}

#Instruction3 .content{
    width: 100%;
    /*background: red;*/
    height: 30rem;
    margin-top: 1rem;
}

#Instruction3 .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605F5F;
}

#Instruction3 .content img{
    width: 80rem;
    margin-top: 4rem;
}

#Instruction4 .progress{
    height: 1rem;
    width: 88rem;
    background: #5174A6;
}

#Instruction4 .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}

#Instruction4 .title h2:nth-child(1){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: #6F6F6F;

}

#Instruction4 .title h2:nth-child(2){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #6F6F6F;
}

#Instruction4 .content{
    width: 80%;
    height: 30rem;
    margin: 1rem auto 0;
}

#Instruction4 .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605F5F;
}


#Instruction5 .progress{
    height: 1rem;
    width: 110rem;
    background: #5174A6;
}

#Instruction5 .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}

#Instruction5 .title h2:nth-child(1){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: #6F6F6F;

}

#Instruction5 .title h2:nth-child(2){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #6F6F6F;
}

#Instruction5 .content{
    display: inline-block;
    width: 80%;
    margin: 1rem auto 0;
    position: relative;
}

#Instruction5 .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605F5F;
}

#camid {
    width: 32rem;
    height: 24rem;
    margin: 2rem auto 2rem;
}

#showvideoid {
    width: 100%;
    height: 24rem;
    display: block;
    border-radius: 1.6rem;
    background-color:black;
}

#imagecanvas {
    width: 130px;
    height: 170px;
    display: none;
    position: absolute;
    opacity: 0.7;
    left: 42%;
    top: 25%;
}

#facecross{
    width: 17rem;
    height: 17rem;
    position: absolute;
    z-index:100;
    left: 40%;
    top: 25%;
}

#facemaskimgok {
    height: 24rem;
    width: 32rem;
    opacity: 0;
    display: block;
    background: white;
    border-radius: 1.6rem;
    z-index: 99;
    position: absolute;
    top: 11.5%;
}

#facemaskimgno {
    height: 24rem;
    width: 32rem;
    opacity: 0.6;
    display: block;
    background: red;
    border-radius: 1.6rem;
    z-index: 99;
    position: absolute;
    top: 11.5%;
}

/*#camid {
    width: 20rem;
    height: 15rem;
    z-index: 1000;
    position:fixed;
    left:0%; top:0%;
    opacity: 0.7;
    display:block;
}

#showvideoid {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1.6rem;
    background-color:black;
}


#facecross{
    width: 10rem;
    height: 10rem;
    position: absolute;
    z-index:100;
    left: 25%;
    top: 15%;
}

#facemaskimgok {
    width: 20rem;
    height: 15rem;
    position:fixed;
    top:0%;
    opacity: 0;
    display: block;
    background: white;
    border-radius: 1.6rem;
    z-index: 99;
    margin-top: 3rem;
}

#facemaskimgno {
    width: 20rem;
    height: 15rem;
    position:fixed;
    top:0%;
    opacity: 0.6;
    display: block;
    background: red;
    border-radius: 1.6rem;
    z-index: 99;
}*/

#PreTask .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}


#PreTask .title h2{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
    color: #6F6F6F;
}

#PreTask .content{
    width: 100%;
    /*background: red;*/
    height: 30rem;
    margin-top: 1rem;
}

#PreTask .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 2rem;
    color: #605F5F;
}

#PreTask .content img{
    width: 80rem;
    margin-top: 4rem;
}

#Task .title{
    width: 100%;
    height: 8rem;
    text-align: center;
}


#Task .title h2{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
    color: #6F6F6F;
}

#Task .content{
    width: 100%;
    margin-top: 1rem;
}

#Task .content p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #605F5F;
}


#Task .instructions{
    width: 80rem;
    height: 35rem;
    background: #FDFBFB;
    margin: 2rem auto 0;
}

#Task .instructions p{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 2rem;
    padding-top: 2rem;
    letter-spacing: 0.01em;
    color: #605F5F;
}

#End1 .title{
    width: 100%;
    height: 30rem;
    text-align: center;
}


#End1 .title h2{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    line-height: 30rem;
    color: #6F6F6F;
}
